#posts {
  h2 {
    margin: 0;
  }

  ul {
    padding: 0;
    list-style-type: none;

    li {
      margin-bottom: 1.5rem;

      #title {
        text-decoration: none;
      }

      #title:hover h2 {
        background-color: var(--color-primary);
        color: inherit;
      }

      a:hover {
        background-color: var(--color-primary);
        color: white;
      }

      .summary {
        margin-top: 8px;

        p {
          display: inline;
        }
      }
    }
  }
}

#post {
  max-width: 60ch;
  margin: auto;

  h1 {
    margin: 0;
  }

  #subtitle {
    margin-top: 0;
  }
}
