#posts {
  ul {
    padding: 0;
    list-style-type: none;
  }

  h2 {
    margin: 0;
  }

  a {
    text-decoration: none;
    margin-left: 5px;
  }

  a:hover {
    text-decoration: underline;
  }

  .summary {
    margin-top: 8px;
  }

  p {
    display: inline;
  }

  li {
    margin-bottom: 1.5rem;
  }
}

#post {
  max-width: 60ch;
  margin: auto;

  h1 {
    margin: 0;
  }

  #subtitle {
    margin-top: 0;
  }
}
