#navbar {
  margin: 1rem 1rem;
  justify-content: space-between;
  vertical-align: middle;

  ul {
    padding-inline-start: 0;
    margin: 0;

    li {
      display: inline-block;
      list-style-type: none;

      a {
        font-weight: bold;
        color: var(--color-accent);
        font-size: 1em;
        padding: 0 0.5em;
        text-decoration: none;
      }

      a:hover {
        background-color: var(--color-accent);
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  #navbar {
    margin: 1rem 0;
  }
}
