h1::after {
  content: "===============================================================================================================================================================";
  position: absolute;
  bottom: 10px;
  left: 0;
}

h1 {
  position: relative;
  padding: 20px 0 30px;
  overflow: hidden;
  display: inline-block;
  margin: 0;
  font-size: 1.5rem;
}

h2::before {
  content: "## ";
}

h3::before {
  content: "### ";
}

h4::before {
  content: "#### ";
}

h5::before {
  content: "##### ";
}

h6::before {
  content: "###### ";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
}

strong::before {
  content: "**";
}
strong::after {
  content: "**";
}

em::before {
  content: "*";
}
em::after {
  content: "*";
}
