:root {
  color-scheme: light dark;
  --color-text-accent: #2f3ebc;
  --color-text-light: dimgray;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-text-accent: #547fc8;
    --color-text-light: gray;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  padding: 0.5rem 1rem;
  margin: 0.2rem auto;
  max-width: 50em;
}

.hline {
  border-bottom: 1px solid lightgray;
}

p {
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  padding-inline-start: 30px;
}

h1,
h2,
h3,
h4,
h5,
strong,
a {
  color: var(--color-text-accent);
}

footer {
  text-align: center;
  color: var(--color-text-light);
}

a {
  color: inherit;
}

#header {
  color: var(--color-text-light);
  margin: 10px 0px;

  li {
    display: inline;
    list-style-type: none;
    margin-right: 15px;
  }
}
