@import "header";
@import "markdown";
@import "blog";

:root {
  color-scheme: light dark;
  --color-primary: #048663;
  --color-accent: #0e7395;
  --color-gray: #656c7b;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #06d6a0;
    --color-accent: #15ade0;
    --color-gray: #d2d5da;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

main {
  padding: 0.5rem 1rem;
  max-width: 60ch;
  margin: auto;

  ul {
    margin-top: 0px;
  }
}

footer {
  text-align: center;
  color: var(--color-gray);
}

a {
  color: inherit;
}
