<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="color scheme" content="light dark" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Will Forman's personal website" />
    <title>Will Forman</title>
    <link rel="icon" href="favicon.svg" />
    <link rel="stylesheet" href="{{ get_url(path='style.css') }}" />
  </head>

  <body>
    {% include "header.html" %}
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <p>contact: [first name initial][last name initial]8581@gmail.com</p>

      <p>
        [<a href="https://github.com/willforman">Github</a>,
        <a href="https://www.linkedin.com/in/willforman/">LinkedIn</a>]
      </p>

      <p>
        <a href="https://github.com/willforman/Personal-Website">source</a>
      </p>
    </footer>
  </body>
</html>
