{% extends "base.html" %} {% block content %}
<div>
  <h1>{{ section.title }}</h1>
</div>

<section id="posts">
  <ul id="posts">
    {% for page in section.pages %}
    <li>
      <a href="{{ page.permalink | safe }}" id="title">
        <h2>{{ page.title }}</h2>
      </a>
      <p>{{ page.date }}</p>
      <div class="summary">
        {{ page.summary | safe }}
        <a href="{{ page.permalink | safe }}">
          <p>Read more</p>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock content %}
