{% extends "base.html" %}

{% block content %}
<div id="index-container">
  <h1>Will Forman</h1>
  <h2>About Me</h2>
  <p>
  I'm a Computer Engineering undergrad at Purdue University, graduating in May 2023.
  </p>

  <section>
  <p><strong>Interests</strong>:</p>
  <ul>
    <li>Distributed Systems</li>
    <li>Operating Systems</li>
  </ul>
  </section>

  <section>
  <p><strong>Experience</strong>:</p>

  <ul>
    <li>2022: SWE Intern at Instagram</li>
    <li>2021-2022: SWE at Beat the Book</li>
    <li>2021: SWE Intern at Amazon</li>
  </ul>
  </section>
</div>
{% endblock content %}
